# gitignore - dev branch

# binaries
*.o
*.a
*.dylib
examples/ex_fit
examples/ex_getmat
examples/ex_mat
examples/ex_min
examples/ex_rand
examples/ex_rand.rand
examples/ex_plot
examples/ex_stat
utils/latan_create_rg_state
utils/latan_info
utils/latan_rs_add
utils/latan_rs_mul
utils/latan_rs_sub
utils/latan_rs_div
utils/latan_rs_sqrt

# Apple stuffs
*.xcodeproj
build/*
.DS_Store

# VIM
*.swp

# debug
*.dSYM

# archives
*.tar.*

# doc
doc/*.pdf
doc/*.html
doc/*.info
doc/*.aux
doc/*.cp
doc/*.cps
doc/*.fn
doc/*.fns
doc/*.ky
doc/*.log
doc/*.pg
doc/*.toc
doc/*.tp
doc/*.tps
doc/*.vr
doc/*.vrs

# autotools
*.la
*.lo
*.Plo
autom4te.cache/*
config.h*
Makefile.in
Makefile
configure
libtool
.buildutils/m4/*
.buildutils/*
latan/.libs/*
latan/.deps/*
examples/.deps/*
examples/.libs/*
utils/.deps/*
utils/.libs/*
aclocal.m4
config.log
config.status
stamp-h1
